<div class="container">
    <form action="result">
        height : <input type="text" name="height"> <br>
        inches : <input type="text" name="inches"> <br>
        width : <input type="text" name="width"> <br>
           
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>


<div class="container">
    {{var1}}
    {{var2}}
    {{var3}}
    {{bm}}
    
    {% if bm < var1 %}
        <h1>BMI Result : {{bm}}</h1>
        <h1>Underweight</h1>
    {% elif bm >= var1 and bm <= var2 %}
        <h1>BMI Result : {{bm}}</h1>
        <h1>Normal weight</h1>
    {% elif bm > var2 and bm <= var3 %}
        <h1>BMI Result : {{bm}}</h1>
        <h1>Overweight</h1>
    {% elif bm >= 30 %}
        <h1>BMI Result : {{bm}}</h1>
        <h1>Obesity = BMI of 30 or greater</h1>
    {% endif %}
        
    
    
</div>